src/edu/cornell/dendro/webservice/schemas/corina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://dendro.cornell.edu/schema/corina/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:tridas="http://www.tridas.org/1.1" targetNamespace="http://dendro.cornell.edu/schema/corina/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
%%%%%%%%%%%%%%
%		EXTERNAL SCHEMAS	
%%%%%%%%%%%%%% -->
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd"/>
	<xs:import namespace="http://www.tridas.org/1.1" schemaLocation="http://www.tridas.org/1.1/tridas.xsd"/>
	<!--
%%%%%%%%%%%%%%
%		ROOT
%%%%%%%%%%%%%% -->
	<xs:element name="corina">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="request"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="header"/>
					<xs:element ref="content"/>				
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		REQUEST
%%%%%%%%%%%%%% -->
	<xs:element name="request">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="searchParams">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="param" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:attribute name="returnObject">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="sample"/>
										<xs:enumeration value="object"/>
										<xs:enumeration value="element"/>
										<xs:enumeration value="radius"/>
										<xs:enumeration value="taxon"/>
										<xs:enumeration value="measurement"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="limit" type="xs:positiveInteger"/>
							<xs:attribute name="skip" type="xs:positiveInteger"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="authenticate">
						<xs:complexType>
							<xs:attribute name="username" type="xs:string"/>
							<xs:attribute name="password" type="xs:string"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="authenticate">
						<xs:complexType>							
							<xs:attribute name="cnonce" type="xs:string"/>
							<xs:attribute name="snonce" type="xs:string"/>
							<xs:attribute name="hash" type="xs:string"/>
							<xs:attribute name="seq" type="xs:string"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>				
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>This should only be empty when requesting a nonce or when logging out</xs:documentation>
					</xs:annotation>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="create"/>
						<xs:enumeration value="read"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="delete"/>
						<xs:enumeration value="plainlogin"/>
						<xs:enumeration value="securelogin"/>
						<xs:enumeration value="nonce"/>
						<xs:enumeration value="logout"/>
						<xs:enumeration value="help"/>
						<xs:enumeration value="search"/>
						<xs:enumeration value="assign"/>
						<xs:enumeration value="unassign"/>
					</xs:restriction>	
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="format">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="standard"/>
						<xs:enumeration value="summary"/>
						<xs:enumeration value="comprehensive"/>
						<xs:enumeration value="minimal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		HEADER
%%%%%%%%%%%%%% -->
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user">
					<xs:complexType>
						<xs:attribute name="id" type="xs:positiveInteger"/>
						<xs:attribute name="username" type="xs:string"/>
						<xs:attribute name="firstname" type="xs:string"/>
						<xs:attribute name="lastname" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="wsversion" type="xs:string"/>
				<xs:element name="requestdate" type="xs:dateTime"/>
				<xs:element name="queryTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:double">
								<xs:attribute name="unit">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="seconds"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="requesturl" type="xs:string"/>
				<xs:element name="requesttype">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="search"/>
							<xs:enumeration value="create"/>
							<xs:enumeration value="read"/>
							<xs:enumeration value="update"/>
							<xs:enumeration value="delete"/>
							<xs:enumeration value="plainlogin"/>
							<xs:enumeration value="securelogin"/>
							<xs:enumeration value="nonce"/>
							<xs:enumeration value="logout"/>
							<xs:enumeration value="help"/>
							<xs:enumeration value="assign"/>
							<xs:enumeration value="unassign"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		CONTENT
%%%%%%%%%%%%%% -->
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sql"/>
				<xs:element ref="tridas:sample"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		PARAM
%%%%%%%%%%%%%% -->
	<xs:element name="param">
		<xs:complexType>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="siteid"/>
						<xs:enumeration value="sitename"/>
						<xs:enumeration value="sitecode"/>
						<xs:enumeration value="sitecreated"/>
						<xs:enumeration value="sitelastmodified"/>
						<xs:enumeration value="sitexcentroid"/>
						<xs:enumeration value="siteycentroid"/>
						<xs:enumeration value="subsiteid"/>
						<xs:enumeration value="subsitename"/>
						<xs:enumeration value="subsitecreated"/>
						<xs:enumeration value="subsitelastmodified"/>
						<xs:enumeration value="treeid"/>
						<xs:enumeration value="treename"/>
						<xs:enumeration value="treecreated"/>
						<xs:enumeration value="treelastmodified"/>
						<xs:enumeration value="precision"/>
						<xs:enumeration value="latitude"/>
						<xs:enumeration value="longitude"/>
						<xs:enumeration value="isLiveTree"/>
						<xs:enumeration value="originaltaxonname"/>
						<xs:enumeration value="specimenid"/>
						<xs:enumeration value="specimenname"/>
						<xs:enumeration value="datecollected"/>
						<xs:enumeration value="specimencreated"/>
						<xs:enumeration value="specimenlastmodified"/>
						<xs:enumeration value="specimentypeid"/>
						<xs:enumeration value="specimentype"/>
						<xs:enumeration value="isterminalringverified"/>
						<xs:enumeration value="sapwoodcount"/>
						<xs:enumeration value="issapwoodcountverified"/>
						<xs:enumeration value="isspecinenqualityverified"/>
						<xs:enumeration value="ispithverified"/>
						<xs:enumeration value="unmeaspre"/>
						<xs:enumeration value="unmeaspost"/>
						<xs:enumeration value="isunmeaspreverified"/>
						<xs:enumeration value="isunmeaspostverified"/>
						<xs:enumeration value="terminalringid"/>
						<xs:enumeration value="terminalring"/>
						<xs:enumeration value="specimenqualityid"/>
						<xs:enumeration value="specimenquality"/>
						<xs:enumeration value="specimencontinuityid"/>
						<xs:enumeration value="specimencontinuity"/>
						<xs:enumeration value="pithid"/>
						<xs:enumeration value="pith"/>
						<xs:enumeration value="isspecimencontinuityverified"/>
						<xs:enumeration value="radiusid"/>
						<xs:enumeration value="radiusname"/>
						<xs:enumeration value="radiuscreated"/>
						<xs:enumeration value="measurementid"/>
						<xs:enumeration value="measurementname"/>
						<xs:enumeration value="measurementcreated"/>
						<xs:enumeration value="measurementlastmodified"/>
						<xs:enumeration value="measurementoperator"/>
						<xs:enumeration value="measurementdescription"/>
						<xs:enumeration value="measurementispublished"/>
						<xs:enumeration value="measurementowneruserid"/>
						<xs:enumeration value="operatorparameter"/>
						<xs:enumeration value="measurementisreconciled"/>
						<xs:enumeration value="datingtype"/>
						<xs:enumeration value="datingerrorpositive"/>
						<xs:enumeration value="datingerrornegative"/>
						<xs:enumeration value="startyear"/>
						<xs:enumeration value="readingcount"/>
						<xs:enumeration value="measurementcount"/>
						<xs:enumeration value="measurementymin"/>
						<xs:enumeration value="measurementymax"/>
						<xs:enumeration value="measurementxmin"/>
						<xs:enumeration value="measurementxmax"/>
						<xs:enumeration value="measurementxcentroid"/>
						<xs:enumeration value="measurementycentroid"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="operator">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="&gt;"/>
						<xs:enumeration value="&lt;"/>
						<xs:enumeration value="="/>
						<xs:enumeration value="!="/>
						<xs:enumeration value="like"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		LINK
%%%%%%%%%%%%%% -->
	<xs:element name="link">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="object" type="xs:string"/>
			<xs:attribute name="id" type="xs:positiveInteger"/>
			<xs:attribute ref="xlink:href"/>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		SAMPLE
%%%%%%%%%%%%%% -->
	<xs:element name="sample">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="link" maxOccurs="unbounded"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="isTerminalRingVerified" type="xs:boolean"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
