src/edu/cornell/dendro/webservice/schemas/corina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://dendro.cornell.edu/schema/corina/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:tridas="http://www.tridas.org/1.2.1" targetNamespace="http://dendro.cornell.edu/schema/corina/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
%%%%%%%%%%%%%%
%		EXTERNAL SCHEMAS	
%%%%%%%%%%%%%% -->
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
	<xs:import namespace="http://www.tridas.org/1.2.1" schemaLocation="tridas.xsd"/>
	<!--
%%%%%%%%%%%%%%
%		TYPES
%%%%%%%%%%%%%% -->
	<xs:simpleType name="searchReturnObject">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sample" />
			<xs:enumeration value="object" />
			<xs:enumeration value="element" />
			<xs:enumeration value="radius" />
			<xs:enumeration value="taxon" />
			<xs:enumeration value="measurementSeries" />
			<xs:enumeration value="derivedSeries" />
			<xs:enumeration value="box"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="entityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="project"/>
			<xs:enumeration value="object"/>
			<xs:enumeration value="element"/>
			<xs:enumeration value="sample"/>
			<xs:enumeration value="radius"/>
			<xs:enumeration value="measurementSeries"/>
			<xs:enumeration value="derivedSeries"/>
			<xs:enumeration value="box"/>
			<xs:enumeration value="securityUser"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="corinaRequestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="create"/>
			<xs:enumeration value="read"/>
			<xs:enumeration value="update"/>
			<xs:enumeration value="delete"/>
			<xs:enumeration value="plainlogin"/>
			<xs:enumeration value="securelogin"/>
			<xs:enumeration value="nonce"/>
			<xs:enumeration value="setpassword"/>
			<xs:enumeration value="logout"/>
			<xs:enumeration value="help"/>
			<xs:enumeration value="search"/>
<!--	    <xs:enumeration value="assign"/>
			<xs:enumeration value="unassign"/>-->
			<xs:enumeration value="merge"/>
		</xs:restriction>	
	</xs:simpleType>

	<xs:simpleType name="corinaRequestFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="standard"/>
			<xs:enumeration value="summary"/>
			<xs:enumeration value="comprehensive"/>
			<xs:enumeration value="minimal"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="corinaRequestStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="Warning"/>
			<xs:enumeration value="Notice"/>
			<xs:enumeration value="Error"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="searchParameterName">
		<xs:restriction base="xs:string">

			<!-- OBJECT ATTRIBUTES-->
			<xs:enumeration value="objectid">
				<xs:annotation>
					<xs:appinfo>datatype:uuid</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="objectdbid"/>						
			<xs:enumeration value="objecttitle"/>
			<xs:enumeration value="objectcreated"/>
			<xs:enumeration value="objectlastmodified"/>
			<xs:enumeration value="objectdescription" />
			<xs:enumeration value="objectcreator" />
			<xs:enumeration value="objectowner" />
			<xs:enumeration value="objectfile" />
			<xs:enumeration value="objectcoverageTemporal" />
			<xs:enumeration value="objectcoverageTemporalFoundation" />
			<xs:enumeration value="objectlocationtype"/>
			<xs:enumeration value="objectlocationprecision" />
			<xs:enumeration value="objectlocationcomment" />
			<xs:enumeration value="objecttype" />
			<xs:enumeration value="objectcode" />
			<xs:enumeration value="parentobjectid" />
			<xs:enumeration value="objectlocation" />
			<xs:enumeration value="countOfChildSeriesOfObject"/>
			<xs:enumeration value="anyparentobjectid"/>
			<xs:enumeration value="anyparentobjectcode"/>
			
			<!-- ELEMENT ATTRIBUTES -->
			<xs:enumeration value="elementid" />
			<xs:enumeration value="elementdbid" />
			<xs:enumeration value="elementoriginaltaxonname"/>
			<xs:enumeration value="elementphylumname"/>
			<xs:enumeration value="elementclassname"/>
			<xs:enumeration value="elementordername"/>
			<xs:enumeration value="elementfamilyname"/>
			<xs:enumeration value="elementgenusname"/>
			<xs:enumeration value="elementspeciesname"/>
			<xs:enumeration value="elementinfraspeciesname"/>
			<xs:enumeration value="elementinfraspeciestype"/>
			<xs:enumeration value="elementauthenticity" />
			<xs:enumeration value="elementshape" />
			<xs:enumeration value="elementheight" />
			<xs:enumeration value="elementwidth" />
			<xs:enumeration value="elementdepth" />
			<xs:enumeration value="elementdiameter" />
			<xs:enumeration value="elementdimensionunits" />
			<xs:enumeration value="elementdimensionunitspower" />
			<xs:enumeration value="elementtype" />
			<xs:enumeration value="elementfile" />
			<xs:enumeration value="elementlocationtype"/>
			<xs:enumeration value="elementlocationprecision"/>
			<xs:enumeration value="elementlocationcomment"/>
			<xs:enumeration value="elementprocessing"/>
			<xs:enumeration value="elementmarks"/>
			<xs:enumeration value="elementdescription"/>
			<xs:enumeration value="elementcreated" />
			<xs:enumeration value="elementlastmodified"/>
			<xs:enumeration value="elementcode"/>
			
			<!-- SAMPLE ATTRIBUTES -->
			<xs:enumeration value="sampleid"/>
			<xs:enumeration value="sampledbid"/>
			<xs:enumeration value="samplingdate"/>
			<xs:enumeration value="samplefile"/>
			<xs:enumeration value="sampleposition"/>
			<xs:enumeration value="samplestate"/>
			<xs:enumeration value="samplehasknots"/>
			<xs:enumeration value="sampledescription"/>
			<xs:enumeration value="samplecreated"/>
			<xs:enumeration value="samplelastmodified"/>
			<xs:enumeration value="samplingdatecertainty"/>
			<xs:enumeration value="sampleboxid"/>
			<xs:enumeration value="samplecode"/>
			
			
			<!-- RADIUS ATTRIBUTES -->
			<xs:enumeration value="radiusid"/>
			<xs:enumeration value="radiusdbid"/>
			<xs:enumeration value="radiuspith"/>
			<xs:enumeration value="radiussapwood"/>
			<xs:enumeration value="radiusheartwood"/>
			<xs:enumeration value="radiusbark"/>
			<xs:enumeration value="radiusnumbersapwoodrings"/>
			<xs:enumeration value="radiuslastringunderbark"/>
			<xs:enumeration value="radiusmissingheartwoodringstopith"/>
			<xs:enumeration value="radiusmissingheartwoodringstopithfoundation"/>
			<xs:enumeration value="radiusmissingsapwoodringstobark"/>
			<xs:enumeration value="radiusmissingsapwoodringstobarkfoundation"/>
			<xs:enumeration value="radiuscreated"/>
			<xs:enumeration value="radiuslastmodified"/>
			<xs:enumeration value="radiusazimuth"/>
			<xs:enumeration value="radiustitle"/>
			<xs:enumeration value="radiuscode"/>
			
			<!-- SERIES ATTRIBUTES -->
			<xs:enumeration value="seriesid"/>
			<xs:enumeration value="seriesdbid"/>
			<xs:enumeration value="seriesmeasuringmethod"/>
			<xs:enumeration value="seriesvariable"/>
			<xs:enumeration value="seriesunit"/>
			<xs:enumeration value="seriespower"/>
			<xs:enumeration value="seriesmeasuringdate"/>
			<xs:enumeration value="seriesanalyst"/>
			<xs:enumeration value="seriesdendrochronologist"/>
			<xs:enumeration value="seriescomments"/>
			<xs:enumeration value="seriesfirstyear"/>
			<xs:enumeration value="seriessproutyear"/>
			<xs:enumeration value="seriesdeathyear"/>
			<xs:enumeration value="seriesprovenance"/>
			<xs:enumeration value="seriestype"/>
			<xs:enumeration value="seriesstandardizingmethod"/>
			<xs:enumeration value="seriesauthor"/>
			<xs:enumeration value="seriesobjective"/>
			<xs:enumeration value="seriesversion"/>
			<xs:enumeration value="seriesderivationdate"/>
			<xs:enumeration value="serieslastmodified"/>
			<xs:enumeration value="seriesoperatorparameter"/>
			<xs:enumeration value="seriesisreconciled"/>
			<xs:enumeration value="seriesdatingtype"/>
			<xs:enumeration value="seriesdatingerrorpositive"/>
			<xs:enumeration value="seriesdatingerrornegative"/>
			<xs:enumeration value="seriesvaluecount"/>
			<xs:enumeration value="seriescount"/>
			<xs:enumeration value="seriescode"/>
			
			<!-- BOX ATTRIBUTES -->
			<xs:enumeration value="boxid"/>
			<xs:enumeration value="boxcode"/>
			<xs:enumeration value="boxcurationlocation"/>
			<xs:enumeration value="boxtrackinglocation"/>
			<xs:enumeration value="boxcomments"/>
			<xs:enumeration value="boxlastmodified"/>
			<xs:enumeration value="boxcreated"/>		

		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="searchOperator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="&gt;"/>
			<xs:enumeration value="&lt;"/>
			<xs:enumeration value="="/>
			<xs:enumeration value="!="/>
			<xs:enumeration value="like"/>
			<xs:enumeration value="is"/>
		</xs:restriction>
	</xs:simpleType>

	<!--
%%%%%%%%%%%%%%
%		ROOT
%%%%%%%%%%%%%% -->
	<xs:element name="corina">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="request"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="header"/>
					<xs:choice>
						<xs:element ref="content" minOccurs="0" maxOccurs="1"/>	
						<xs:element ref="help"  minOccurs="0" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		SEARCH PARAMS
%%%%%%%%%%%%%% -->
	<xs:element name="searchParams">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="param" maxOccurs="unbounded" />
					<xs:element name="all">
						<xs:complexType>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="returnObject" type="searchReturnObject"/>
			<xs:attribute name="limit" type="signedInt" />
			<xs:attribute name="skip" type="signedInt" />
			<xs:attribute name="includeChildren" type="xs:boolean" />
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		AUTHENTICATE
%%%%%%%%%%%%%% -->
	<xs:element name="authenticate">
		<xs:complexType>
			<xs:attribute name="username" type="xs:string" />
			<xs:attribute name="password" type="xs:string" />
			<xs:attribute name="cnonce" type="xs:string" />
			<xs:attribute name="snonce" type="xs:string" />
			<xs:attribute name="hash" type="xs:string" />
			<xs:attribute name="seq" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		ENTITY
%%%%%%%%%%%%%% -->
	<xs:element name="entity">
		<xs:complexType>
			<xs:attribute name="type" type="entityType" />
			<xs:attribute name="id" type="xs:token" />
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		REQUEST
%%%%%%%%%%%%%% -->
	<xs:element name="request">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="searchParams" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="authenticate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="entity" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:element ref="tridas:project" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="tridas:object" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="tridas:element" minOccurs="0" maxOccurs="unbounded"/>					
					<xs:element ref="tridas:sample" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="tridas:radius" minOccurs="0" maxOccurs="unbounded"/>			
					<xs:element ref="tridas:measurementSeries" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="tridas:derivedSeries" minOccurs="0" maxOccurs="unbounded"/>	
					<xs:element ref="securityUser" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="box" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>This should only be empty when requesting a nonce or when logging out</xs:documentation>
					</xs:annotation>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="dictionaries">
						<xs:complexType>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="type" type="corinaRequestType"/>
			<xs:attribute name="format" type="corinaRequestFormat"/>
			<xs:attribute name="parentEntityID" type="xs:token"/>
			<xs:attribute name="mergeWithID" type="xs:token"/>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		HEADER
%%%%%%%%%%%%%% -->
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="securityUser" minOccurs="0" maxOccurs="1"/>
				<xs:element name="wsVersion" type="xs:string"/>
				<xs:element name="clientVersion" type="xs:string"/>
				<xs:element name="requestDate" type="xs:dateTime"/>
				<xs:element name="queryTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:double">
								<xs:attribute name="unit">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="seconds"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="requestUrl" type="xs:string"/>
				<xs:element name="requestType" type="corinaRequestType"/>
				<xs:element name="status" type="corinaRequestStatus"/>
				<xs:element ref="message" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="timing" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                                <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                                <xs:attribute name="label" type="xs:string"/>
                                                        </xs:extension>
                                                </xs:simpleContent>
                                        </xs:complexType>
                                </xs:element>
				<xs:element ref="nonce" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		CONTENT
%%%%%%%%%%%%%% -->
	<xs:element name="content">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="sql" minOccurs="0" maxOccurs="1"/>
                                
                <xs:element ref="tridas:object" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tridas:element" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tridas:sample" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tridas:radius" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tridas:measurementSeries" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="tridas:derivedSeries" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="box" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="securityUser" minOccurs="0" maxOccurs="unbounded" />

                <xs:element ref="objectTypeDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="elementTypeDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="sampleTypeDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="coverageTemporalDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="coverageTemporalFoundationDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="locationTypeDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="elementAuthenticityDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="elementShapeDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="sapwoodDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="heartwoodDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="measurementVariableDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="datingTypeDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="taxonDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="regionDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="readingNoteDictionary" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="securityUserDictionary" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="securityGroupDictionary" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="boxDictionary" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="wmsServerDictionary" minOccurs="0" maxOccurs="1"/>
				
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="message">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="sourceCode" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="code" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="nonce">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="seq" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

        <xs:element name="objectTypeDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="objectType" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="elementTypeDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="elementType" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>


        <xs:element name="sampleTypeDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sampleType" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="coverageTemporalDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="coverageTemporal" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="coverageTemporalFoundationDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="coverageTemporalFoundation" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="locationTypeDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="locationType" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="elementAuthenticityDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="elementAuthenticity" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="elementShapeDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="elementShape" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="sapwoodDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sapwood" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="heartwoodDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="heartwood" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="measurementVariableDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="measurementVariable" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="datingTypeDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="datingType" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="taxonDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tridas:taxon" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="regionDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="region" type="tridas:controlledVoc" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="readingNoteDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tridas:remark" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
        </xs:element>
        
        <xs:element name="securityUserDictionary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="securityUser" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
        </xs:element>
	
	<xs:element name="securityGroupDictionary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="securityGroup" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="boxDictionary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="box" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="wmsServerDictionary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wmsServer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
<!--
	%%%%%%%%%%%%%%
	%		HELP
	%%%%%%%%%%%%%% -->	
<xs:element name="help">
	<xs:complexType>
		<xs:sequence>
			<xs:any processContents="skip"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
	
	<!--
%%%%%%%%%%%%%%
%		PARAM
%%%%%%%%%%%%%% -->
	<xs:element name="param">
		<xs:complexType>
			<xs:attribute name="name" type="searchParameterName"/>
			<xs:attribute name="operator" type="searchOperator"/>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		LINK
%%%%%%%%%%%%%% -->
	<xs:element name="link">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="object" type="xs:string"/>
			<xs:attribute name="id" type="xs:token"/>
			<xs:attribute ref="xlink:href"/>
		</xs:complexType>
	</xs:element>	

	<xs:simpleType name="signedInt">
  		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	


<!--
	%%%%%%%%%%%%%%
	%		BOX
	%%%%%%%%%%%%%% -->
	<xs:element name="box">
		<xs:annotation>
			<xs:documentation>
				A box is where samples are stored
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tridas:title" maxOccurs="1"/>
				<xs:element ref="tridas:identifier" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tridas:createdTimestamp" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tridas:lastModifiedTimestamp" minOccurs="0"/>
				<xs:element ref="tridas:comments" minOccurs="0"/>
				<xs:element name="trackingLocation" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The current location of this box if different from it's curation location.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="curationLocation" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The permanent location where this box is stored. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="sampleCount" type="xs:int" minOccurs="0"/>
				<xs:element ref="tridas:sample" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!--
		%%%%%%%%%%%%%%
		%		USER
		%%%%%%%%%%%%%% -->
	<xs:element name="securityUser" >
		<xs:annotation>
			<xs:documentation>
				A user in the Corina database
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="memberOf" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="securityGroup" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:token" use="optional"/>
			<xs:attribute name="username" type="xs:string" use="optional" />
			<xs:attribute name="firstName" type="xs:string" use="optional" />
			<xs:attribute name="lastName" type="xs:string" use="optional" />
			<xs:attribute name="isActive" type="xs:boolean" use="optional" />
			<xs:attribute name="hashOfPassword" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>	
	
	
	<!--
		%%%%%%%%%%%%%%
		% SECURITY GROUP
		%%%%%%%%%%%%%% -->
	
	<xs:element name="securityGroup" >
		<xs:complexType>
			<xs:attribute name="id" type="xs:token" use="optional"/>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:attribute name="description" type="xs:string" use="optional"/>
			<xs:attribute name="isActive" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
		
		
	<!--
		%%%%%%%%%%%%%%
		% WMS Server
		%%%%%%%%%%%%%% -->
	
	<xs:element name="wmsServer" >
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:attribute name="url" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
		
</xs:schema>
