src/edu/cornell/dendro/webservice/schemas/element.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="elementObject"/>	
    </start>

    <define name="elementObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="element">
            <optional>
                <attribute name="id">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            <optional>
                <attribute name="url">
                    <text />
                </attribute>
            </optional>        
            <interleave>
	            <optional>
	                <element name="name">
	                    <text />
	                </element>
	            </optional>

	    	    <optional>
	                <element name="validatedTaxon">
	                	<optional>
	                		<attribute name="id">
	                			<data type="positiveInteger"></data>
	                		</attribute>
	                	</optional>
	                    <text />
	                </element>
	            </optional>   
	                 
	    	    <optional>
	                <element name="originalTaxonName">
	                    <text />
	                </element>
	            </optional>   
	            
	            <zeroOrMore>
	            	<element name="higherTaxon">
	            		<attribute name="rank">
	            			<choice>
	            				<value>Kingdom</value>
	            				<value>Phylum</value>
	            				<value>Class</value>
	            				<value>Order</value>
	            				<value>Family</value>
	            				<value>Genus</value>
	            			</choice>
	            		</attribute>
	            		<text/>
	            	</element>
	            </zeroOrMore>
	            
	            <optional>
	                <element name="latitude">
                             <data type="decimal">
	                            <param name="maxInclusive">90</param>
	                            <param name="minInclusive">-90</param>
                             </data>
	                </element>
	            </optional>
	            <optional>
	                <element name="longitude">
                            <data type="decimal">
	                            <param name="maxInclusive">180</param>
	                            <param name="minInclusive">-180</param>
                            </data>    
	                </element>
	            </optional>
	            <optional> 
	                <element name="precision">
	                    <data type="decimal">
	                            <param name="minInclusive">0</param>
                                </data>
	                </element>
	            </optional>
	            <optional> 
	                <element name="isLiveTree">
	                    <data type="boolean" />
	                </element>
	            </optional>
	            <optional>
	                <element name="createdTimeStamp">
	                    <data type="dateTime" />
	                </element>
	            </optional>
	            <optional>
	                <element name="lastModifiedTimeStamp">
	                    <data type="dateTime" />
	                </element>
	            </optional>

	        	            
	            <optional>
	            	<element name="references">
		                <zeroOrMore>
		                    <externalRef href="sample.rng"/>
		                </zeroOrMore>
	                </element>
                </optional>
                        
                <optional>
                	<element name="elementNotes">
		                <zeroOrMore>
		                    <externalRef href="elementNote.rng"/>
		                </zeroOrMore>
	                </element>
                </optional>
                
                <optional>
		                <zeroOrMore>
		                    <externalRef href="sample.rng"/>
		                </zeroOrMore>
                </optional>
                
            </interleave>
        </element>
    </define>
</grammar>
