src/edu/cornell/dendro/webservice/schemas/locality.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="localityObject"/>	
    </start>

    <define name="localityObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="locality">
            <optional>
                <element name="centroid">
                    <attribute name="latitude">
                        <data type="double">
                            <param name="maxInclusive">90</param>
                            <param name="minInclusive">-90</param>
                        </data>
                    </attribute>
                    <attribute name="longitude">
                        <data type="double">
                            <param name="maxInclusive">180</param>
                            <param name="minInclusive">-180</param>
                        </data>
                    </attribute>
                </element>
            </optional>
            <optional>
                <element name="extent">
                    <attribute name="xmin">
                        <data type="double"/>
                    </attribute>
                    <attribute name="ymin">
                        <data type="double"/>
                    </attribute>
                    <attribute name="xmax">
                        <data type="double"/>
                    </attribute>
                    <attribute name="ymax">
                        <data type="double"/>
                    </attribute>
                </element>
            </optional>
        </element>
    </define>
</grammar>