src/edu/cornell/dendro/webservice/schemas/measurement.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="measurementObject"/>	
    </start>

    <define name="measurementObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="measurement">
            <optional>
                <attribute name="id">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            
            <optional>
                <attribute name="url">
                    <text/>
                </attribute>
            </optional>
                       
            <interleave>
            	<optional>
		            <element name="name">
		            	<text/>
		            </element>
	            </optional>
	            
	            <optional>
	                <element name="radiusID">
	                    <data type="positiveInteger">
	                    </data>
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="isReconciled">
	                    <data type="boolean">
	                    </data>
	                </element>
	            </optional>
	            <optional>
	                <element name="startYear">
	                    <data type="integer">
	                    </data>
	                </element>
	            </optional>
	            <optional>
	                <element name="isLegacyCleaned">
	                    <data type="boolean">
	                    </data>
	                </element>
	            </optional>
	            <optional>
	                <element name="measuredBy">
	                	<attribute name="id">
	                		<data type="positiveInteger"></data>
	                	</attribute>
	                    <text/>
	                </element>
	            </optional>
	            <optional>
	                <element name="owner">
	                	<attribute name="id">
	                		<data type="positiveInteger"></data>
	                	</attribute>
	                    <text/>
	                </element>
	            </optional>	            
	            <optional>
	                <element name="datingType">
	                	<optional>
	                		<attribute name="id">
	                			<data type="positiveInteger"></data>
	                		</attribute>
	                	</optional>
	                    <text/>
	                </element>
	            </optional>
	            <optional>
	                <element name="datingErrorPositive">
	                    <data type="positiveInteger" />
	                </element>
	            </optional>
	            <optional>
	                <element name="datingErrorNegative">
	                    <data type="positiveInteger" />
	                </element>
	            </optional>
	
	            <optional>
	                <element name="description">
	                    <text/>
	                </element>
	            </optional>
	            <optional>
	                <element name="isPublished">
	                    <data type="boolean" />
	                </element>
	            </optional>
	            
	            <optional>
					<element name="operation">
	            		<text/>
	            		<optional>
		            		<attribute name="parameter">
		            			<text/>
		            		</attribute>
	            		</optional>
	            	</element>
	            </optional>
	            
	            
            
                <zeroOrMore>
                    <externalRef href="measurementNote.rng"/>
                </zeroOrMore>
               
                <optional>
                    <element name="readings">
                    
                    	<optional>
                    		<attribute name="units">
                    			<data type="negativeInteger"></data>
                    		</attribute>
                    	</optional>
                        <zeroOrMore>
                            <element name="reading">
                                <optional>
                                    <attribute name="year">
                                        <data type="integer" />
                                    </attribute>
                                </optional>
                                <optional>
                                    <attribute name="weiserjahre">
                                        <text />
                                    </attribute>
                                </optional>
                                <optional>
                                    <attribute name="count">
                                        <data type="integer" />
                                    </attribute>
                                </optional>
                                    <attribute name="value">
                                        <data type="integer" />
                                    </attribute>
                                <zeroOrMore>
                                    <element name="readingNote">
                                        <attribute name="id">
                                            <data type="integer" />
                                        </attribute>
                                    </element>
                                </zeroOrMore>
                            </element>
                        </zeroOrMore>
                    </element>
                </optional>

                <optional>
                    <element name="references">
                        <oneOrMore>
                            <ref name="measurementObject"/> 
                        </oneOrMore> 
                    </element>
                </optional>
            </interleave>
        </element>
    </define>
</grammar>