src/edu/cornell/dendro/webservice/schemas/radius.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="radiusObject"/>	
    </start>
    
    <define name="radiusObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="radius">
            <optional>
                <attribute name="id">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            <optional>
                <attribute name="label">
                    <text />
                </attribute>
            </optional>
            <optional>
                <attribute name="createdTimeStamp">
                    <data type="dateTime" />
                </attribute>
            </optional>
            <optional>
                <attribute name="lastModifiedTimeStamp">
                    <data type="dateTime" />
                </attribute>
            </optional>
        </element>
    </define>

</grammar>