src/edu/cornell/dendro/webservice/schemas/sample.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="sampleObject"/>	
    </start>

    <define name="sampleObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="sample">
            <optional>
                <attribute name="id">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            <optional>
                 <attribute name="url">
                    <text />
                </attribute>
 			</optional>
            
            <interleave>
	            <optional>
	                <element name="createdTimeStamp">
	                    <data type="dateTime" />
	                </element>
	            </optional>
	
	            <optional>
	                <element name="lastModifiedTimeStamp">
	                    <data type="dateTime" />
	                </element>
	            </optional>
	
	            <optional>
	                <element name="name">
	                    <text />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="dateCollected">
	                    <data type="date" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="sampleType">
	                    <text/>
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="terminalRing">
	                    <text />
	                </element>
	            </optional>        
	            
	            <optional>
	                <element name="isTerminalRingVerified">
	                    <data type="boolean" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="sapwoodCount">
	                    <data type="positiveInteger" />
	                </element>
	            </optional>         
	            
	            <optional>
	                <element name="isSapwoodCountVerified">
	                    <data type="boolean" />
	                </element>
	            </optional>  
	            
	            <optional>
	                <element name="sampleQuality">
	                    <text />
	                </element>
	            </optional>         
	            
	            <optional>
	                <element name="isSpecimenQualityVerified">
	                    <data type="boolean" />
	                </element>
	            </optional>  
	            
	            <optional>
	                <element name="sampleContinuity">
	                    <text />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="isSpecimenContinuityVerified">
	                    <data type="boolean" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="pith">
	                    <text />
	                </element>
	            </optional>         
	            
	            <optional>
	                <element name="isPithVerified">
	                    <data type="boolean" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="unmeasuredPre">
	                    <data type="positiveInteger" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="isUnmeasuredPreVerified">
	                    <data type="boolean" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="unmeasuredPost">
	                    <data type="positiveInteger" />
	                </element>
	            </optional>
	            
	            <optional>
	                <element name="isUnmeasuredPostVerified">
	                    <data type="boolean" />
	                </element>	
	            </optional>
	
	            <optional>
	                <externalRef href="radius.rng" />
	            </optional> 
            </interleave>      
        </element>
    </define>
 </grammar>
