src/edu/cornell/dendro/webservice/schemas/searchParams.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <choice>
        <ref name="siteParamsObject"/>	
        <ref name="subSiteParamsObject"/>	
        <ref name="treeParamsObject"/>	
        <ref name="specimenParamsObject"/>	
        <ref name="radiusParamsObject"/>	
        <ref name="measurementParamsObject"/>	
        <ref name="searchParamsObject" />
      </choice>
    </start>
    
    <define name="siteParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="siteParams">
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>siteid</value>
                            <value>name</value>
                            <value>createdtimestamp</value>
                            <value>lastmodifiedtimestamp</value>
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                            <value>like</value>
                            <value>!=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>   

    <define name="subSiteParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="subSiteParams">
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>subsiteid</value>
                            <value>name</value>
                            <value>createdtimestamp</value>
                            <value>lastmodifiedtimestamp</value>
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                            <value>like</value>
                            <value>!=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>    

    <define name="treeParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="treeParams">
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>treeid</value>
                            <value>precision</value>
                            <value>label</value>
                            <value>createdtimestamp</value>
                            <value>lastmodifiedtimestamp</value>
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                            <value>like</value>
                            <value>!=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>    


    <define name="specimenParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="specimenParams">
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>specimenid</value>
                            <value>label</value>
                            <value>datecollected</value>
                            <value>createdtimestamp</value>
                            <value>lastmodifiedtimestamp</value>
                            <value>specimentypeid</value>
                            <value>specimentype</value>
                            <value>isterminalringverified</value>
                            <value>sapwoodcount</value>
                            <value>issapwoodcountverified</value>
                            <value>isspecimenqualityverified</value>
                            <value>ispithverified</value>
                            <value>unmeaspre</value>
                            <value>unmeaspost</value>
                            <value>isunmeaspreverified</value>
                            <value>isunmeaspostverified</value>
                            <value>terminalringid</value>
                            <value>terminalring</value>
                            <value>specimenqualityid</value>
                            <value>specimenquality</value>
                            <value>specimencontinuityid</value>
                            <value>specimencontinuity</value>
                            <value>pithid</value>
                            <value>pith</value>
                            <value>isspecimencontinuityverified</value>
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                            <value>like</value>
                            <value>!=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>    

    <define name="searchParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="searchParams">
            <attribute name="returnObject">
                <choice>
                    <value>specimen</value>
                    <value>site</value>
                    <value>subsite</value>
                    <value>tree</value>
                    <value>radius</value>
                    <value>measurement</value>
                    <value>taxon</value>
                </choice>
            </attribute>
            <optional>
                <attribute name="limit">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="skip">
                    <data type="integer" />
                </attribute>
            </optional>
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>siteid</value>
                            <value>sitename</value>
                            <value>sitecode</value>
                            <value>sitecreated</value>
                            <value>sitelastmodified</value>

                            <value>subsiteid</value>
                            <value>subsitename</value>
                            <value>subsitecreated</value>
                            <value>subsitelastmodified</value>

                            <value>treeid</value>
                            <value>treename</value>
                            <value>treecreated</value>
                            <value>treelastmodified</value>
                            <value>precision</value>
                            <value>latitude</value>
                            <value>longitude</value>

                            <value>specimenid</value>
                            <value>specimenname</value>
                            <value>datecollected</value>
                            <value>specimencreated</value>
                            <value>specimenlastmodified</value>
                            <value>specimentypeid</value>
                            <value>specimentype</value>
                            <value>isterminalringverified</value>
                            <value>sapwoodcount</value>
                            <value>issapwoodcountverified</value>
                            <value>isspecinenqualityverified</value>
                            <value>ispithverified</value>
                            <value>unmeaspre</value>
                            <value>unmeaspost</value>
                            <value>isunmeaspreverified</value>
                            <value>isunmeaspostverified</value>
                            <value>terminalringid</value>
                            <value>terminalring</value>
                            <value>specimenqualityid</value>
                            <value>specimenquality</value>
                            <value>specimencontinuityid</value>
                            <value>specimencontinuity</value>
                            <value>pithid</value>
                            <value>pith</value>
                            <value>isspecimencontinuityverified</value>

                            <value>radiusid</value>
                            <value>radiusname</value>
                            <value>radiuscreated</value>
                            <value>radiuslastmodified</value>

                            <value>measurementid</value>
                            <value>measurementname</value>
                            <value>measurementcreated</value>
                            <value>measurementlastmodified</value>

                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>like</value>
                            <value>!=</value>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>    

    <define name="radiusParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="radiusParams">
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>radiusid</value>
                            <value>label</value>
                            <value>createdtimestamp</value>
                            <value>lastmodifiedtimestamp</value>
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                            <value>like</value>
                            <value>!=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>   

    <define name="measurementParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="measurementParams">
            <oneOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>measurementid</value>
                            <value>name</value>
                            <value>createdtimestamp</value>
                            <value>lastmodifiedtimestamp</value>
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                            <value>like</value>
                            <value>!=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </oneOrMore>
        </element>
    </define>   
</grammar>