src/edu/cornell/dendro/webservice/schemas/searchParams.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <choice>	
        <ref name="searchParamsObject" />
      </choice>
    </start>

    <define name="searchParamsObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="searchParams">
            <attribute name="returnObject">
                <choice>
                    <value>specimen</value>
                    <value>site</value>
                    <value>subsite</value>
                    <value>tree</value>
                    <value>radius</value>
                    <value>measurement</value>
                    <value>taxon</value>
                </choice>
            </attribute>
            <optional>
                <attribute name="limit">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="skip">
                    <data type="integer" />
                </attribute>
            </optional>
            
            <zeroOrMore>
                <element name="param">
                    <attribute name="name">
                        <choice>
                            <value>siteid</value>
                            <value>sitename</value>
                            <value>sitecode</value>
                            <value>sitecreated</value>
                            <value>sitelastmodified</value>
                            <value>sitexcentroid</value>
                            <value>siteycentroid</value>

                            <value>subsiteid</value>
                            <value>subsitename</value>
                            <value>subsitecreated</value>
                            <value>subsitelastmodified</value>

                            <value>treeid</value>
                            <value>treename</value>
                            <value>treecreated</value>
                            <value>treelastmodified</value>
                            <value>precision</value>
                            <value>latitude</value>
                            <value>longitude</value>
                            <value>isLiveTree</value>

                            <value>specimenid</value>
                            <value>specimenname</value>
                            <value>datecollected</value>
                            <value>specimencreated</value>
                            <value>specimenlastmodified</value>
                            <value>specimentypeid</value>
                            <value>specimentype</value>
                            <value>isterminalringverified</value>
                            <value>sapwoodcount</value>
                            <value>issapwoodcountverified</value>
                            <value>isspecinenqualityverified</value>
                            <value>ispithverified</value>
                            <value>unmeaspre</value>
                            <value>unmeaspost</value>
                            <value>isunmeaspreverified</value>
                            <value>isunmeaspostverified</value>
                            <value>terminalringid</value>
                            <value>terminalring</value>
                            <value>specimenqualityid</value>
                            <value>specimenquality</value>
                            <value>specimencontinuityid</value>
                            <value>specimencontinuity</value>
                            <value>pithid</value>
                            <value>pith</value>
                            <value>isspecimencontinuityverified</value>

                            <value>radiusid</value>
                            <value>radiusname</value>
                            <value>radiuscreated</value>
                            <value>radiuslastmodified</value>

                            <value>measurementid</value>
                            <value>measurementname</value>
                            <value>measurementcreated</value>
                            <value>measurementlastmodified</value>
                            <value>measurementoperator</value>
                            <value>measurementdescription</value>                            
                            <value>measurementispublished</value>   
                            <value>measurementowneruserid</value>                            
                            <value>operatorparameter</value> 
                            <value>measurementisreconciled</value>
							<value>datingtype</value>
 							<value>datingerrorpositive</value>
 							<value>datingerrornegative</value>
 							<value>startyear</value>
 							<value>readingcount</value>
 							<value>measurementcount</value>
 							<value>measurementymin</value>
 							<value>measurementymax</value>
 							<value>measurementxmin</value>
 							<value>measurementxmax</value>
 							<value>measurementxcentroid</value> 
 							<value>measurementycentroid</value>                          
                            
                        </choice>
                    </attribute>
                    <attribute name="operator">
                        <choice>
                            <value>like</value>
                            <value>!=</value>
                            <value>&gt;</value>
                            <value>&lt;</value>
                            <value>=</value>
                        </choice>
                    </attribute>
                    <attribute name="value">
                        <text/>
                    </attribute>
                </element>
            </zeroOrMore>
            
            <optional>
            	<element name="all">
            		<empty></empty>
            	</element>
            </optional>
            
            
        </element>
    </define>    
</grammar>