src/edu/cornell/dendro/webservice/schemas/securityUser.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="securityUserObject"/>	
    </start>
    
    <define name="securityUserObject"  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="user">
        	<optional>
        		<attribute name="id">
        			<data type="positiveInteger"/>
        		</attribute>
        	</optional>
            <optional>
                <attribute name="username">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="plainPassword">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="hashPassword">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="firstName">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="lastName">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="isActive">
                    <data type="boolean"/>
                </attribute>
            </optional>
            
            <optional>
            	<element name="memberOf">
		            <oneOrMore>
		            	<externalRef href="securityGroup.rng"></externalRef>
		            </oneOrMore>
	            </element>
            </optional>
            
        </element>
    </define>
</grammar>