src/edu/cornell/dendro/webservice/schemas/securityGroup.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="securityGroupObject"/>	
    </start>
    
    <define name="securityGroupObject"  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="securityGroup">
        	<optional>
        		<attribute name="id">
        			<data type="positiveInteger"/>
        		</attribute>
        	</optional>
            <optional>
                <attribute name="name">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="description">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="isActive">
                    <data type="boolean"/>
                </attribute>
            </optional>
        </element>
    </define>
</grammar>