src/edu/cornell/dendro/webservice/schemas/seriesNotes.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="seriesNoteObject"/>	
    </start>
    
   <define name="seriesNoteObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="seriesNote">
            <optional>
                <attribute name="id">
                    <data type="positiveInteger"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="isStandard">
                    <data type="boolean" />
                </attribute>
            </optional>
            <text/>
        </element>
    </define>
</grammar>
