src/edu/cornell/dendro/webservice/schemas/series.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="seriesObject"/>	
    </start>

    <define name="seriesObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="series">
    
            <optional>
                <attribute name="id">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            
            <optional>
            	<element name="link">

            		<optional>
            			<attribute name="parameter">
            				<text/>
            			</attribute>
            		</optional>
            		
            		<optional>
            			<attribute name="object">
            				<text/>
            			</attribute>
            		</optional>            		
            		
            		<attribute name="type">
            			<text/>
            		</attribute>
            	
            		<attribute name="url">
            			<text/>
            		</attribute>
            		<empty/>
            	</element>
            </optional>

            <optional>
            	<element name="metadata">
                       
		            <interleave>
		            	<optional>
				            <element name="name">
				            	<text/>
				            </element>
			            </optional>
			            
			            <optional>
			                <element name="radiusID">
			                    <data type="positiveInteger">
			                    </data>
			                </element>
			            </optional>
			            
			            <optional>
			                <element name="isReconciled">
			                    <data type="boolean">
			                    </data>
			                </element>
			            </optional>
			            <optional>
			                <element name="startYear">
			                    <data type="integer">
			                    </data>
			                </element>
			            </optional>
			            <optional>
			                <element name="isLegacyCleaned">
			                    <data type="boolean">
			                    </data>
			                </element>
			            </optional>
			            <optional>
			                <element name="measuredBy">
			                	<attribute name="id">
			                		<data type="positiveInteger"></data>
			                	</attribute>
			                    <text/>
			                </element>
			            </optional>
			            <optional>
			                <element name="owner">
			                	<attribute name="id">
			                		<data type="positiveInteger"></data>
			                	</attribute>
			                    <text/>
			                </element>
			            </optional>	            
			            <optional>
			                <element name="dating">
			                	<optional>
			                		<attribute name="startYear">
			                			<data type="integer"></data>
			                		</attribute>
			                	</optional>
			                    <optional>
			                		<attribute name="count">
			                			<data type="integer"></data>
			                		</attribute>
			                	</optional>
			                	<optional>
			                		<attribute name="type">
			                			<data type="string"></data>
			                		</attribute>
			                	</optional>			                	
			                	<optional>
			                		<attribute name="positiveError">
			                			<data type="integer"></data>
			                		</attribute>
			                	</optional>			                	
			                	<optional>
			                		<attribute name="negativeError">
			                			<data type="integer"></data>
			                		</attribute>
			                	</optional>					                	
			                </element>
			            </optional>
			
			            <optional>
			                <element name="description">
			                    <text/>
			                </element>
			            </optional>
			            <optional>
			                <element name="isPublished">
			                    <data type="boolean" />
			                </element>
			            </optional>
			            
			            <optional>
							<element name="operation">
			            		<text/>
			            		<optional>
				            		<attribute name="parameter">
				            			<text/>
				            		</attribute>
			            		</optional>
			            	</element>
			            </optional>
			        
		            
		                <zeroOrMore>
		                    <externalRef href="seriesNote.rng"/>
		                </zeroOrMore>
	               
	                 </interleave>
               
	               </element>
	            </optional>
               
               
                <optional>
                    <element name="readings">
                    
                    	<optional>
                    		<attribute name="units">
                    			<data type="negativeInteger"></data>
                    		</attribute>
                    	</optional>
                    	
                    	<optional>
                    		<attribute name="type">
                    			<text/>
                    		</attribute>
                    	</optional>
                        <zeroOrMore>
                            <element name="reading">
                                <optional>
                                    <attribute name="year">
                                        <data type="integer" />
                                    </attribute>
                                </optional>
                                <optional>
                                    <attribute name="weiserjahre">
                                        <text />
                                    </attribute>
                                </optional>
                                <optional>
                                    <attribute name="count">
                                        <data type="integer" />
                                    </attribute>
                                </optional>
                                    <attribute name="value">
                                        <data type="integer" />
                                    </attribute>
                                <zeroOrMore>
                                    <element name="readingNote">
                                        <attribute name="id">
                                            <data type="integer" />
                                        </attribute>
                                    </element>
                                </zeroOrMore>
                            </element>
                        </zeroOrMore>
                    </element>
                </optional>

                <optional>
                    <element name="references">
                        <oneOrMore>
                            <ref name="seriesObject"/> 
                        </oneOrMore> 
                    </element>
                </optional>
 
        </element>
    </define>
</grammar>
