src/edu/cornell/dendro/webservice/schemas/subSite.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="subSiteObject"/>	
    </start>

   <define name="subSiteObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="subSite">
            <optional>
                <attribute name="id">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="url">
                    <text/>
                </attribute>
            </optional>
            
            <interleave>
	            <optional>
	                <element name="name">
	                    <text/>
	                </element>
	            </optional>            
	            <optional>
	                <element name="siteid">
	                    <data type="integer" />
	                </element>
	            </optional>
	            <optional>
	                <element name="createdTimeStamp">
	                    <text />
	                </element>
	            </optional>
	            <optional>
	                <element name="lastModifiedTimeStamp">
	                    <text />
	                </element>
	            </optional>
	            <zeroOrMore>
	                <externalRef href="element.rng"/>
	            </zeroOrMore>
            </interleave>
        </element>
    </define>

</grammar>
