src/edu/cornell/dendro/webservice/schemas/taxon.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="taxonObject"/>	
    </start>

    <define name="taxonObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="taxon">
            <optional>
                <attribute name="id">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="colID">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="colParentID">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="parentID">
                    <data type="integer" />
                </attribute>
            </optional>
            <optional>
                <attribute name="taxonRank">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <text />
            </optional>
        </element>
    </define>

</grammar>