src/edu/cornell/dendro/webservice/schemas/tree.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
      <ref name="treeObject"/>	
    </start>

    <define name="treeObject" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
        <element name="tree">
            <optional>
                <attribute name="id">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            <optional>
                <attribute name="label">
                    <text />
                </attribute>
            </optional>
            <optional> 
                <attribute name="taxonID">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            <optional>
                <attribute name="latitude">
                    <choice>
                        <data type="double">
                            <param name="maxInclusive">90</param>
                            <param name="minInclusive">-90</param>
                        </data>
                        <empty />
                    </choice>
                </attribute>
            </optional>
            <optional>
                <attribute name="longitude">
                    <choice>
                        <data type="double">
                            <param name="maxInclusive">180</param>
                            <param name="minInclusive">-180</param>
                        </data>
                        <empty />
                    </choice>
                </attribute>
            </optional>
            <optional> 
                <attribute name="precision">
                    <data type="positiveInteger" />
                </attribute>
            </optional>
            <optional> 
                <attribute name="isLiveTree">
                    <data type="boolean" />
                </attribute>
            </optional>
            <optional>
                <attribute name="createdTimeStamp">
                    <data type="dateTime" />
                </attribute>
            </optional>
            <optional>
                <attribute name="lastModifiedTimeStamp">
                    <data type="dateTime" />
                </attribute>
            </optional>
            <interleave>
                <zeroOrMore>
                    <externalRef href="specimen.rng"/>
                </zeroOrMore>
                <zeroOrMore>
                    <externalRef href="treeNote.rng" />
                </zeroOrMore>
            </interleave>
        </element>
    </define>

</grammar>