src/edu/cornell/dendro/webservice/schemas/tridas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
TRiDaS 1.2 dev: Tree-Ring Data Standard for dendrochronology
See http://www.tridas.org/ for:
- more information
- contact information 
- latest version

Version date: 2009-03-17

This XML Schema is available under LGPLv3 
more information on http://www.gnu.org/licenses/lgpl.html

***********************************************-->
<xs:schema xmlns="http://www.tridas.org/1.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.tridas.org/1.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
%%%%%%%%%%%%%%
%		EXTERNAL SCHEMAS	
%%%%%%%%%%%%%% -->
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
	<!-- download-location: http://www.tridas.org/1.1/xlinks.xsd -->
	<!-- original location: http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="gmlsf.xsd"/>
	<!-- download-location: http://www.tridas.org/1.1/gmlsf.xsd -->
	<!-- original location: http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd -->
	<!-- 

%%%%%%%%%%%%%%
%		GLOBAL TYPES
%%%%%%%%%%%%%% -->
	<!-- controlledVoc -->
	<xs:complexType name="controlledVoc">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="normalStd"/>
				<xs:attribute name="normalId"/>
				<xs:attribute name="normal"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- TRiDaS controlledVoc for Variable-->
	<xs:simpleType name="normalTridasVariable">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ring width"/>
			<xs:enumeration value="Earlywood width"/>
			<xs:enumeration value="Latewood width"/>
			<xs:enumeration value="Ring density"/>
			<xs:enumeration value="Earlywood density"/>
			<xs:enumeration value="Latewood density"/>
			<xs:enumeration value="Maximum density"/>
			<xs:enumeration value="Latewood percent"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TRiDaS controlledVoc for Units-->
	<xs:simpleType name="normalTridasUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="micrometres"/>
			<xs:enumeration value="1/100th millimetres"/>
			<xs:enumeration value="1/10th millimetres"/>
			<xs:enumeration value="millimetres"/>
			<xs:enumeration value="centimetres"/>
			<xs:enumeration value="metres"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TRiDaS controlledVoc for ring remarks-->
	<xs:simpleType name="normalTridasRemark">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fire damage"/>
			<xs:enumeration value="Frost damage"/>
			<xs:enumeration value="Crack"/>
			<xs:enumeration value="False ring(s)"/>
			<xs:enumeration value="Compression wood"/>
			<xs:enumeration value="Tension wood"/>
			<xs:enumeration value="Traumatic ducts"/>
			<xs:enumeration value="Unspecified injury"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TRiDaS controlledVoc for project categories-->
	<xs:simpleType name="normalTridasCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Dating suffix data type-->
	<xs:simpleType name="datingSuffix">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AD"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="BP"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Presence/Absence enumeration-->
	<xs:simpleType name="presenceAbsence">
		<xs:restriction base="xs:string">
			<xs:enumeration value="present"/>
			<xs:enumeration value="absent"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Complex presence enumeration-->
	<xs:simpleType name="complexPresenceAbsence">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="not applicable"/>
			<xs:enumeration value="absent"/>
			<xs:enumeration value="complete"/>
			<xs:enumeration value="incomplete"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- date and time -->
	<xs:simpleType name="certainty">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="exact"/>
			<xs:enumeration value="approximately"/>
			<xs:enumeration value="after"/>
			<xs:enumeration value="before"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="dateTime">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="certainty" type="certainty" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="createdTimestamp" type="dateTime"/>
	<xs:element name="lastModifiedTimestamp" type="dateTime"/>
	<xs:complexType name="date">
		<xs:simpleContent>
			<xs:extension base="xs:date">
				<xs:attribute name="certainty" type="certainty" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="year">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger">
				<xs:attribute name="certainty" type="certainty" use="optional"/>
				<xs:attribute name="suffix" use="required" type="datingSuffix"/>		
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- linkSeries -->
	<xs:element name="linkSeries">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="preferredSeries" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice>
							<xs:element name="idRef">
								<xs:complexType>
									<xs:attribute name="ref" type="xs:IDREF"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="xLink">
								<xs:complexType>
									<xs:attribute ref="xlink:href"/>
								</xs:complexType>
							</xs:element>
							<xs:element ref="identifier"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="idRef">
						<xs:complexType>
							<xs:attribute name="ref" type="xs:IDREF"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="xLink">
						<xs:complexType>
							<xs:attribute ref="xlink:href"/>
						</xs:complexType>
					</xs:element>
					<xs:element ref="identifier"/>
				</xs:choice>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<!-- type -->
	<xs:element name="type" type="controlledVoc"/>
	<!-- description -->
	<xs:element name="description" type="xs:string"/>
	<!-- title -->
	<xs:element name="title" type="xs:string"/>
	<!-- identifier -->
	<xs:element name="identifier">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="domain" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- extent -->
	<xs:element name="extent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extentGeometry"/>
				<xs:element ref="extentComment" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extentGeometry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gml:Polygon"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extentComment" type="xs:string"/>
	<!-- location -->
	<xs:element name="location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locationGeometry"/>
				<xs:element ref="locationType" minOccurs="0"/>
				<xs:element ref="locationPrecision" minOccurs="0"/>
				<xs:element ref="locationComment" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="locationGeometry">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="gml:Point"/>
				<xs:element ref="gml:Polygon"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="locationType" type="xs:string"/>
	<xs:element name="locationPrecision" type="xs:string"/>
	<xs:element name="locationComment" type="xs:string"/>
	<!-- file -->
	<xs:element name="file">
		<xs:complexType>
			<xs:attribute ref="xlink:href" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- generic field -->
	<xs:element name="genericField">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" use="required"/>
					<xs:attribute name="type" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- 
%%%%%%%%%%%%%%
%		ROOT
%%%%%%%%%%%%%% -->
	<xs:element name="tridas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="project" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 
%%%%%%%%%%%%%%
%		PROJECT
%%%%%%%%%%%%%% -->
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="identifier" minOccurs="0"/>
				<xs:element ref="createdTimestamp" minOccurs="0"/>
				<xs:element ref="lastModifiedTimestamp" minOccurs="0"/>
				<xs:element ref="type" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="laboratory" maxOccurs="unbounded"/>
				<xs:element ref="category"/>
				<xs:element ref="investigator"/>
				<xs:element ref="period"/>
				<xs:element ref="requestDate" minOccurs="0"/>
				<xs:element ref="commissioner" minOccurs="0"/>
				<xs:element ref="reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="research" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="genericField" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="object" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="derivedSeries" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- PROJECT.title (global type)-->
	<!-- PROJECT.identifier (global type) -->
	<!-- PROJECT.createdTimestamp (global type) -->
	<!-- PROJECT.lastModifiedTimestamp (global type) -->
	<!-- PROJECT.laboratory -->
	<xs:element name="laboratory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifier" minOccurs="0"/>
				<xs:element ref="name"/>
				<xs:element ref="place"/>
				<xs:element ref="country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="acronym" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="place" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<!-- PROJECT.type (global type) -->
	<!-- PROJECT.category -->
	<xs:element name="category">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas" type="normalTridasCategory"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- PROJECT.investigator -->
	<xs:element name="investigator" type="xs:string"/>
	<!-- PROJECT.period -->
	<xs:element name="period" type="xs:string"/>
	<!-- PROJECT.description (global type) -->
	<!-- PROJECT.requestDate -->
	<xs:element name="requestDate" type="date"/>
	<!-- PROJECT.commissioner -->
	<xs:element name="commissioner" type="xs:string"/>
	<!-- PROJECT.reference -->
	<xs:element name="reference" type="xs:string"/>
	<!-- PROJECT.file (global type) -->
	<!-- PROJECT.research -->
	<xs:element name="research">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifier"/>
				<xs:element ref="description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- PROJECT.genericField (global type) -->
	<!--
%%%%%%%%%%%%%%
%		OBJECT
%%%%%%%%%%%%%%-->
	<xs:element name="object">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="identifier" minOccurs="0"/>
				<xs:element ref="createdTimestamp" minOccurs="0"/>
				<xs:element ref="lastModifiedTimestamp" minOccurs="0"/>
				<xs:element ref="type"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="linkSeries" minOccurs="0" maxOccurs="1"/>				
				<xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="creator" minOccurs="0"/>
				<xs:element ref="owner" minOccurs="0"/>
				<xs:element ref="coverage" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="genericField" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="object" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- OBJECT.title (global type) -->
	<!-- OBJECT.identifier (global type) -->
	<!-- OBJECT.createdTimestamp (global type) -->
	<!-- OBJECT.lastModifiedTimestamp (global type) -->
	<!-- OBJECT.type (global type) -->
	<!-- OBJECT.description (global type) -->
	<!-- OBJECT.linkSeries (global type) -->
	<!-- OBJECT.file (global type) -->
	<!-- OBJECT.creator -->
	<xs:element name="creator" type="xs:string"/>
	<!-- OBJECT.owner -->
	<xs:element name="owner" type="xs:string"/>
	<!-- OBJECT.coverage -->
	<xs:element name="coverage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coverageTemporal"/>
				<xs:element ref="coverageTemporalFoundation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coverageTemporal" type="xs:string"/>
	<xs:element name="coverageTemporalFoundation" type="xs:string"/>
	<!-- OBJECT.location (global type) -->
	<!-- OBJECT.genericField (global type) -->
	<!--
%%%%%%%%%%%%%%
%		ELEMENT
%%%%%%%%%%%%%%-->
	<xs:element name="element">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="identifier" minOccurs="0"/>
				<xs:element ref="createdTimestamp" minOccurs="0"/>
				<xs:element ref="lastModifiedTimestamp" minOccurs="0"/>
				<xs:element ref="type" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="linkSeries" minOccurs="0" maxOccurs="1"/>		
				<xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="taxon"/>
				<xs:element ref="shape" minOccurs="0"/>
				<xs:element ref="dimensions" minOccurs="0"/>
				<xs:element ref="authenticity" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="processing" minOccurs="0"/>
				<xs:element ref="marks" minOccurs="0"/>
				<xs:element ref="altitude" minOccurs="0"/>
				<xs:element ref="slope" minOccurs="0"/>
				<xs:element ref="soil" minOccurs="0"/>
				<xs:element ref="bedrock" minOccurs="0"/>
				<xs:element ref="genericField" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sample" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.title (global type) -->
	<!-- ELEMENT.identifier (global type) -->
	<!-- ELEMENT.createdTimestamp (global type) -->
	<!-- ELEMENT.lastModifiedTimestamp (global type) -->
	<!-- ELEMENT.type (global type) -->
	<!-- ELEMENT.linkSeries (global type) -->
	<!-- ELEMENT.file (global type) -->
	<!-- ELEMENT.taxon -->
	<xs:element name="taxon">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.shape -->
	<xs:element name="shape">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.dimensions -->
	<xs:element name="dimensions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unit"/>
				<xs:choice>
					<xs:sequence>
						<xs:element name="diameter" type="xs:decimal"/>
						<xs:element name="height" type="xs:decimal"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="height" type="xs:decimal"/>
						<xs:element name="width" type="xs:decimal"/>
						<xs:element name="depth" type="xs:decimal"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.authenticity -->
	<xs:element name="authenticity" type="xs:string"/>
	<!-- ELEMENT.location (global type) -->
	<!-- ELEMENT.description (global type) -->
	<!-- ELEMENT.processing -->
	<xs:element name="processing" type="xs:string"/>
	<!-- ELEMENT.marks -->
	<xs:element name="marks" type="xs:string"/>
	<!-- ELEMENT.altitude -->
	<xs:element name="altitude" type="xs:double"/>
	<!-- ELEMENT.slope -->
	<xs:element name="slope">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="angle" type="xs:integer" minOccurs="0"/>
				<xs:element name="azimuth" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.soil -->
	<xs:element name="soil">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="depth" type="xs:double" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.bedrock -->
	<xs:element name="bedrock">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ELEMENT.genericField (global type) -->
	<!--
%%%%%%%%%%%%%%
%		SAMPLE
%%%%%%%%%%%%%%-->
	<xs:element name="sample">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="identifier" minOccurs="0"/>
				<xs:element ref="createdTimestamp" minOccurs="0"/>
				<xs:element ref="lastModifiedTimestamp" minOccurs="0"/>
				<xs:element ref="type"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="samplingDate" minOccurs="0"/>
				<xs:element ref="position" minOccurs="0"/>
				<xs:element ref="state" minOccurs="0"/>
				<xs:element ref="knots" minOccurs="0"/>
				<xs:element ref="genericField" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:element ref="radius" minOccurs="0"/>
					<xs:element ref="radiusPlaceholder" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- SAMPLE.title (global type) -->
	<!-- SAMPLE.identifier (global type) -->
	<!-- SAMPLE.createdTimestamp (global type) -->
	<!-- SAMPLE.lastModifiedTimestamp (global type) -->
	<!-- SAMPLE.type (global type) -->
	<!-- SAMPLE.description (global type) -->
	<!-- SAMPLE.file (global type) -->
	<!-- SAMPLE.samplingDate -->
	<xs:element name="samplingDate" type="date"/>
	<!-- SAMPLE.position -->
	<xs:element name="position" type="xs:string"/>
	<!-- SAMPLE.state -->
	<xs:element name="state" type="xs:string"/>
	<!-- SAMPLE.knots -->
	<xs:element name="knots" type="xs:boolean"/>
	<!-- SAMPLE.genericField (global type) -->

<!-- 
	%%%%%%%%%%%%%%%%%%%%%%%%%%
	%		PITHANDSAPWOODINFO 
	%%%%%%%%%%%%%%%%%%%%%%%%%%-->
	<xs:element name="pithAndSapwoodInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pith"/>
				<xs:element ref="heartwood"/>
				<xs:element ref="sapwood"/>
				<xs:element ref="bark"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- 
%%%%%%%%%%%%%%
%		RADIUS 
%%%%%%%%%%%%%%-->
	<xs:element name="radius">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="identifier" minOccurs="0"/>
				<xs:element ref="createdTimestamp" minOccurs="0"/>
				<xs:element ref="lastModifiedTimestamp" minOccurs="0"/>
				<xs:element ref="pithAndSapwoodInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="azimuth" minOccurs="0"/>
				<xs:element ref="genericField" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="measurementSeries" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- RADIUS.title (global type) -->
	<!-- RADIUS.identifier (global type) -->
	<!-- RADIUS.createdTimestamp (global type) -->
	<!-- RADIUS.lastModifiedTimestamp (global type) -->
	<!-- RADIUS.pith -->
	<xs:element name="pith">
		<xs:complexType>
			<xs:attribute name="presence" use="required" type="presenceAbsence"/>
		</xs:complexType>
	</xs:element>
	<!-- RADIUS.azimuth -->
	<xs:element name="azimuth" type="xs:decimal"/>
	<!-- RADIUS.heartwood -->
	<xs:element name="heartwood">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="missingHeartwoodRingsToPith" minOccurs="0"/>
				<xs:element ref="missingHeartwoodRingsToPithFoundation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="presence" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="missingHeartwoodRingsToPithFoundation" type="xs:string"/>
	<xs:element name="missingHeartwoodRingsToPith" type="xs:string"/>
	<!-- RADIUS.sapwood -->
	<xs:element name="sapwood">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nrOfSapwoodRings" minOccurs="0"/>
				<xs:element ref="lastRingUnderBark" minOccurs="0"/>
				<xs:element ref="missingSapwoodRingsToBark" minOccurs="0"/>
				<xs:element ref="missingSapwoodRingsToBarkFoundation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="presence" use="required" type="complexPresenceAbsence"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nrOfSapwoodRings" type="xs:string"/>
	<xs:element name="lastRingUnderBark" type="xs:string"/>
	<xs:element name="missingSapwoodRingsToBarkFoundation" type="xs:string"/>
	<xs:element name="missingSapwoodRingsToBark" type="xs:string"/>
	<!-- RADIUS.bark -->
	<xs:element name="bark">
		<xs:complexType>
			<xs:attribute name="presence" use="required" type="presenceAbsence"/>
		</xs:complexType>
	</xs:element>
	<!-- RADIUS.genericField (global type) -->
	<!-- RADIUS-PLACEHOLDER -->
	<xs:element name="radiusPlaceholder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="measurementSeriesPlaceholder"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--
		%%%%%%%%%%%%%%
		%        SERIES
		%%%%%%%%%%%%%%-->
	<xs:group name="interpretationType">
		<xs:choice>
			<xs:element ref="interpretation"/>
			<xs:element ref="interpretationUnsolved"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="baseSeries" abstract="true">
		<xs:sequence>
			<xs:element ref="title"/>
			<xs:element ref="identifier" minOccurs="0"/>
			<xs:element ref="createdTimestamp" minOccurs="0"/>
			<xs:element ref="lastModifiedTimestamp" minOccurs="0"/>
			<xs:element ref="pithAndSapwoodInfo" minOccurs="0" maxOccurs="1"/>			
			<xs:element ref="analyst" minOccurs="0"/>
			<xs:element ref="dendrochronologist" minOccurs="0"/>
			<xs:element ref="measuringMethod" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="type" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="linkSeries" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="objective" minOccurs="0"/>
			<xs:element ref="standardizingMethod" minOccurs="0"/>
			<xs:element ref="author" minOccurs="0"/>
			<xs:element ref="version" minOccurs="0"/>
			<xs:element ref="comments" minOccurs="0"/>
			<xs:element ref="usage" minOccurs="0"/>
			<xs:element ref="usageComments" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="interpretationType" minOccurs="0"/>
			<xs:element ref="extent" minOccurs="0"/>
			<xs:element ref="genericField" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="values" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>	
		
	<!--	
%%%%%%%%%%%%%%
%		MEASUREMENTSERIES
%%%%%%%%%%%%%%-->
	<xs:element name="measurementSeries">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="baseSeries">
					<xs:sequence>
						<xs:element ref="title"/>
						<xs:element ref="identifier"/>
						<xs:element ref="createdTimestamp"/>
						<xs:element ref="lastModifiedTimestamp"/>
						<xs:element ref="analyst"/>
						<xs:element ref="dendrochronologist"/>
						<xs:element ref="measuringMethod" minOccurs="1"/>
						<xs:element ref="comments"/>
						<xs:element ref="usage"/>
						<xs:element ref="usageComments"/>
						<xs:group ref="interpretationType" />
						<xs:element ref="genericField"/>
						<xs:element ref="values"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element> 
	<!-- MEASUREMENTSERIES.title (global type) -->
	<!-- MEASUREMENTSERIES.identifier (global type) -->
	<!-- MEASUREMENTSERIES.createdTimestamp (global type) -->
	<!-- MEASUREMENTSERIES.lastModifiedTimestamp (global type) -->
	<!-- MEASUREMENTSERIES.analyst -->
	<xs:element name="analyst" type="xs:string"/>
	<!-- MEASUREMENTSERIES.dendrochronologist -->
	<xs:element name="dendrochronologist" type="xs:string"/>
	<!-- MEASUREMENTSERIES.measuringMethod -->
	<xs:element name="measuringMethod">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- MEASUREMENTSERIES.measuringDate -->
	<xs:element name="measuringDate" type="date"/>
	<!-- MEASUREMENTSERIES.comments -->
	<xs:element name="comments" type="xs:string"/>
	<!-- MEASUREMENTSERIES.usage -->
	<xs:element name="usage" type="xs:string"/>
	<!-- MEASUREMENTSERIES.usageComments -->
	<xs:element name="usageComments" type="xs:string"/>
	<!-- MEASUREMENTSERIES.genericField (global type) -->
	<!-- MEASUREMENTSERIES.interpretation -->
	<xs:element name="interpretation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="firstYear" minOccurs="0"/>
				<xs:element ref="datingReference" minOccurs="0"/>
				<xs:element ref="statFoundation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sproutYear" minOccurs="0"/>
				<xs:element ref="usedSoftware" minOccurs="0"/>
				<xs:element ref="deathYear" minOccurs="0"/>
				<xs:element ref="provenance" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datingReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="linkSeries"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="firstYear" type="year"/>
	<xs:element name="statFoundation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="statValue"/>
				<xs:element ref="type"/>
				<xs:element ref="significanceLevel" minOccurs="0"/>
				<xs:element ref="usedSoftware"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="statValue" type="xs:decimal"/>
	<xs:element name="significanceLevel" type="xs:decimal"/>
	<xs:element name="usedSoftware" type="xs:string"/>
	<xs:element name="sproutYear" type="year"/>
	<xs:element name="deathYear" type="year"/>
	<xs:element name="provenance" type="xs:string"/>
	<!-- MEASUREMENTSERIES.interpretationUnsolved -->
	<xs:element name="interpretationUnsolved" type="xs:string"/>
	<!-- MEASUREMENTSSERIES-PLACEHOLDER -->
	<xs:element name="measurementSeriesPlaceholder">
		<xs:complexType>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<!--
%%%%%%%%%%%%%%
%		DERIVEDSERIES
%%%%%%%%%%%%%% -->
	<xs:element name="derivedSeries">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="baseSeries">
					<xs:sequence>
						<xs:element ref="title"/>
						<xs:element ref="identifier"/>
						<xs:element ref="createdTimestamp"/>
						<xs:element ref="lastModifiedTimestamp"/>
						<xs:element ref="type" minOccurs="1"/>
						<xs:element ref="linkSeries" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element ref="objective"/>
						<xs:element ref="standardizingMethod"/>
						<xs:element ref="author"/>
						<xs:element ref="version"/>
						<xs:element ref="comments"/>
						<xs:element ref="usage"/>
						<xs:element ref="usageComments"/>
						<xs:group ref="interpretationType"/>
						<xs:element ref="extent"/>
						<xs:element ref="genericField"/>
						<xs:element ref="values"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:ID"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<!-- DERIVEDSERIES.title (global type) -->
	<!-- DERIVEDSERIES.identifier (global type) -->
	<!-- DERIVEDSERIES.createdTimestamp (global type) -->
	<!-- DERIVEDSERIES.lastModifiedTimestamp (global type) -->
	<!-- DERIVEDSERIES.type (global type) -->
	<!-- DERIVEDSERIES.objective -->
	<xs:element name="objective" type="xs:string"/>
	<!-- DERIVEDSERIES.standardizingMethod -->
	<xs:element name="standardizingMethod" type="xs:string"/>
	<!-- DERIVEDSERIES.author -->
	<xs:element name="author" type="xs:string"/>
	<!-- DERIVEDSERIES.version -->
	<xs:element name="version" type="xs:string"/>
	<!-- DERIVEDSERIES.linkSeries (global type) -->	
	<!-- DERIVEDSERIES.derivationDate -->
	<xs:element name="derivationDate" type="date"/>
	<!-- DERIVEDSERIES.usedSoftware (defined at MEASUREMENTSERIES.interpretation) -->
	<!-- DERIVEDSERIES.genericField (global type) -->
	<!-- DERIVEDSERIES.interpretation (defined at MEASUREMENTSERIES) -->
	<!-- DERIVEDSERIES.interpretationUnsolved (defined at MEASUREMENTSERIES) -->
	<!--
	%%%%%%%%%%%%%%
	%		VALUES
	%%%%%%%%%%%%%% -->
	<xs:element name="values">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="variable" minOccurs="1" maxOccurs="1"/>
				<xs:choice>
					<xs:element ref="unitless"/>	
					<xs:element ref="unit"/>
				</xs:choice>
				<xs:element ref="value" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- VALUES.variable -->
	<xs:element name="variable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas" type="normalTridasVariable"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- VALUES.unit -->
	<xs:element name="unit">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas" type="normalTridasUnit"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- VALUES.unitless (is empty by definition) -->
	<xs:element name="unitless">
		<xs:complexType/>
	</xs:element>
	<!-- VALUES.value -->
	<xs:element name="value">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="remark" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="index" type="xs:string" use="required"/>
			<xs:attribute name="count" type="xs:integer" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!-- VALUES.remark -->
	<xs:element name="remark">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="controlledVoc">
					<xs:attribute name="normalTridas" type="normalTridasRemark"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
